*{
    box-sizing: border-box;
}

body{
    font-family: 'Source Code Pro', monospace;
    background-color: black;
    margin: 0 auto;
    padding: 0 auto;
    
}
/* CUERPO */

.nav-bar{
    display: flex;
    font-family:'Syne Tactile', cursive; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color:white;
    background-color: black;
    /* font-size: 1px; */
}

.nav-bar a{
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-left: 0.5rem;
}

header img{
    max-width: 10rem;
}


@media (min-width:320px) AND  (max-width:767px){
    input{
        width: 10rem;
        /* margin: 0 60px 0px 70px; */
    }    

    button{
        width: 10rem;
    }
}




